main {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px;
}

.hero-title {
  font-family: "Francois One", sans-serif;
  font-size: 3rem;
  line-height: 100%;
}

.hero-body {
  text-align: left;
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  line-height: 100%;
}

.hero-arrows {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.hero-arrows > svg {
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
}
